#root {
  max-width: 180px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrap {
  display: flex;
  flex-direction: column;

  width: 980px;

  .strategySelector {
    display: flex;
    flex-direction: column;
  }
}